<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nuvalo workhours test</title>
    {{ encore_entry_link_tags('main') }}
</head>
<body>
<div id="app">
</div>
{{ encore_entry_script_tags('main') }}
</body>
</html>
